* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
}

input[hidden],
textarea [hidden] {
  display: none !important;
}

button {
  border: none;
  background-image: none;
  background-color: transparent;
}

textarea {
  resize: none;
}

button,
[role='button'] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  outline: none;
}

fieldset {
  border: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style-type: none;
}

[tabindex] {
  outline: none;
}

address {
  font-style: normal;
}
